{
	"currentAddressIndexData" = {
		"currentChangeAddressIndex" = 4;
		"currentReceivingAddressIndex" = 5;
	};
	"dataForCheckingAddresses" = {
		network = testnet;
		outputAddresses = (
			"mqo7674J9Q7hpfPB6qFoYufMdoNjEsRZHx",
		);
	};
	dataType = unsignedTransaction;
	transactionData = {
		hash = "172b1896960e4c32fa032357c1e7c9c243afa2993210982149c9c2b6d39642df";
		in = (
			{
				"prev_out" = {
					hash = "42ccc7679a4248f8e137b03d5236dca52af6aee04fcde2608188108d5c9eb363";
					n = 0;
				};
				scriptSig = "OP_DUP OP_HASH160 9b57d31b6d0064a8cdb0e732ce1ecb97090f0ae3 OP_EQUALVERIFY OP_CHECKSIG";
			},
		);
		"lock_time" = 0;
		out = (
			{
				scriptPubKey = "OP_DUP OP_HASH160 70bf410b2c75b87b1a35eb909699c431890140ab OP_EQUALVERIFY OP_CHECKSIG";
				value = "0.01957492";
			},
		);
		size = 110;
		ver = 1;
		"vin_sz" = 1;
		"vout_sz" = 1;
	};
}